.cart {
    /* width: calc(100% - 324px); */
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
  }
  
  .empty {
    margin-top: 24px;
    font-size: 24px;
    line-height: 30px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .item {
    border-radius: 8px;
    width: 100%;
    padding: 12px 16px;
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1.5fr 1fr 16px;
    align-items: center;
    height: 100px;
  }
  
  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 100%;
  }
  
  .info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
  
  .name {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
  
  .category {
    font-size: 10px;
    line-height: 12px;
  }
  
  .price {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    justify-content: center;
  }
  
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity span {
    width: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
  
  .minus,
  .plus {
    border-radius: 6px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .quantity svg {
    width: 17px;
    height: 17px;
    fill: rgba(255, 255, 255, 0.5);
  }
  
  .plus:hover,
  .minus:hover {
    /* background: var(--violet); */
  }
  
  .plus:hover svg,
  .minus:hover svg {
    fill: rgba(255, 255, 255, 1);
  }
  
  .close {
    cursor: pointer;
    display: flex;
    justify-content: end;
  }
  
  .close svg {
    width: 16px;
    height: 16px;
    stroke: rgba(255, 255, 255, 0.5);
  }
  
  .close:hover svg {
    stroke: rgba(255, 255, 255, 1);
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  
  .total {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  
@media (max-width: 780px){
  .item {
    padding: 0;
    grid-template-columns: 50px 2fr 1fr 1.5fr 1fr 16px;
    align-items: center;
    height: 65px;
  }
  .cart {
    padding: 24px 15px;
  }
  .quantity span{
    width: 20px;
  }
  .total{
    font-size: 16px;
  }
}


@media (min-width: 1200px){
  .container{
      max-width: 1140px;
  }
}

@media (min-width: 992px){
  .container {
      max-width: 960px;
  }
}

@media (min-width: 768px){
  .container{
      max-width: 720px;
  }
}

@media (min-width: 576px){
  .container {
      max-width: 540px;
  }
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


[type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}
button {
  width: 200px !important;
}